[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fastapi = "*"
pinecone-client = "*"
langchain = "*"
pinecone-text = {version = "*", extras = ["dense"]}
pandas = "*"
openai = "*"
fastapi-utils = "*"
openpyxl = "*"
trio = "*"

[dev-packages]

[requires]
python_version = "3.8"
